

<div class="card hoverable">
    <div class="card-header  d-flex justify-content-between align-items-center">
      <button mdbBtn (click)='facade.backToSection()' class="btn btn-sm btn-primary" data-overlay-color="#151b26" mdbWavesEffect>
        <i class="fas fa-arrow-circle-left"></i>
      </button>
      <h5 cla>Constantes</h5>
      <a mdbBtn class="btn btn-sm btn-primary" role="button" mdbWavesEffect routerLink="new"
         data-overlay-color="#151b26">
        <i class="fas fa-user-plus"></i>
      </a>
    </div>
    <table class="table table-condensed">
      <thead>
      <tr class="d-flex">
        <th class="col-md-1">nodo</th>
        <th class="col-md-1">Empresa</th>
        <th class="col-md-3">Nombre</th>
        <th class="col-md-3">Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr class="d-flex" *ngFor="let item of facade.getSt().listConstant">
        <td class="align-middle col-md-1">{{item.idConstant}}</td>
        <td class="align-middle col-md-1">{{item.nameInst}}</td>
        <td class="align-middle col-md-3">{{item.nameConstant}}</td>
        <td class="align-middle col-md-3">{{item.valueConstant}}</td>
        <td class="col-md-3">
          <button mdbBtn (click)='facade.update(item)' class="btn btn-md btn-blue" mdbWavesEffect>
            <i class="fas fa-user-edit"></i>
          </button>
          <button mdbBtn (click)='facade.delete(item)' class="btn btn-md btn-danger" mdbWavesEffect>
            <i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item ">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>

  