.red {
    background-color: #FA2601;
}
.orange {
    background-color: #FA8A00;
}
.yellow {
    background-color: #FFEB00;
}
.green {
    background-color: #27AB00;
}
.purple {
    background-color: purple;
}
.gray {
    background-color: gray;
}
.noaplica {
    background-color: gray;
}