
<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container space-2">
    <div class="row justify-content-md-between">
      <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">About</h3>       
      </div> 
      <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">Company</h3>      
      </div>
      <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">Shop</h3>      
      </div>
      <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">Social</h3>     
      </div>
      <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">     
        <p class="small text-muted">All rights reserved. &copy; Space. 2019 Htmlstream.</p>
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
